* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #424242;
  font-family: "Montserrat", sans-serif;
  .content {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    button {
      padding: 10px;
      width: 200px;
      background-color: #424242;
      border: 1px solid rgb(39, 255, 161);
      color: white;
      transition: 0.2s;
      border-radius: 10px;
    }
    button:hover {
      cursor: pointer;
      background-color: rgb(39, 255, 161);
      color: black;
    }
    .outputEl {
      display: flex;
      flex-direction: column;
    }
  }
}
