* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #424242;
  font-family: "Montserrat", sans-serif;
  color: white;
  .content {
    width: 40%;
    margin: 0 auto;
    border: 1px solid rgb(39, 255, 161);
    text-align: center;
    padding: 20px;
    border-radius: 9px;
    button {
      padding: 10px;
      width: 100px;
      background-color: #424242;
      border: 1px solid rgb(39, 255, 161);
      color: white;
      transition: 0.2s;
      border-radius: 10px;
    }
    button:hover {
      cursor: pointer;
      background-color: rgb(39, 255, 161);
      color: black;
    }
    .output {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .numberOne,
      .numberTwo {
        width: 49%;
        margin-top: 30px;
        img {
          width: 200px;
          height: 200px;
        }
      }
      .summ {
        width: 100%;
        font-size: 40px;
      }
    }
  }
  .history {
    text-align: center;
    span {
      color: rgb(39, 255, 161);
    }
  }
}
